* {
	box-sizing: border-box;
  }

html, body{
    height: 100%;
    width: 100%; 
    background-image: url('img/portfolioBackground.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.navbar{
	background-color: #102b3d;
    /* padding: 1% 0; */
    font-size: 19px; 
    /* margin-bottom:0px !important; */
    /* height : 100px !important; */
    /* height : 50% !important; */
    min-height: 100px;
 
}

.navBarImg{
    /* margin-top: -11px;
    margin-left: -6px; */
    padding: 0 15px;
    /* height: 120px;  */
    line-height: 100px;
}

.navbar-toggler {
    /* (80px - button height 34px) / 2 = 23px */
    margin-top: 23px;
    padding: 9px 10px !important;
  }

/* .navbar-default .navbar-nav>li>a {
    color: white;
} */

.navbar-nav>li>a {
    color: white;
}

/* .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #a8a8a7;
    background-color: transparent;
} */

.navbar-nav>li>a:focus, .navbar-nav>li>a:hover {
    color: #a8a8a7;
    background-color: transparent;
}

.homePageHeading{
    margin-top : 5%;
    color:white;
}
.aboutus{
	/* background-image: url('img/keyboardImg.jpg') ; */
	display: table; 
 	position:relative;
 	width: 90%;
	height: 100%;
	background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.lead{
	border: 1px solid grey;
	background-color: rgb(230, 225, 225);
	width:100%;
    padding:1%;
    font-size: 20px;
    /* margin: 5% 30%; */
}

.heading{
    color: white;
    font-size: 25px;
}

.contents{
    font-size:20px;
}

ul.list-group:after {
	clear: both;
	display: block;
	content: "";
  } 

#home {
    /* background: url('img/bgimg6.jpg');  */
    display: table;  
    position:relative;
    width:100%;
    height:100%;
    background-size: cover;
    background-attachment: fixed;
    padding: 25% 0;
    color: rgb(196, 189, 189);
} 

.landing-text {
    width: 250px;
    height: 250px;
    display: table-cell; 
	text-align: center;
    vertical-align: middle; 
    font-size: 45px;
    color: rgb(82, 123, 177);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
   
} 

.list-group{
  display:inline!important;

} 

.list-group-item{
    background-color: rgb(230, 225, 225) !important;
    display:inline !important; 
    font-size: 20px;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
    display: flex;
    flex-wrap: wrap;
}

.card{
    margin: 8px 10px;
    margin-left:15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: white;
}

div.card:hover{
    border: 1px solid black;
}

.imgResponsive{
    max-width:300px;
    height:auto;
    margin: 30px 0 !important; 
   
}
a.btn {
    background: #0096a0;
    border-radius: 4px;
    box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.25);
    color: #ffffff;
    display: inline-block;
    padding: 6px 30px 8px;
    position: relative;
    text-decoration: none;
    transition: all 0.1s 0s ease-out;
    z-index: 10;
}
/* .padding{
	padding: 25px 0;
	background-color: rgb(195, 193, 193);
}  */

.projects{
	display: table; 
    position:relative;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-attachment: fixed;

} 

footer{
	width:100%;
	height:100%;
	display:table;
	position: relative;
	background-color: #102b3d;;
	padding: 5% 5% 10% 5%;
	color: #FFF;

}

.icons{
	padding: 15px;
	font-size:30px !important;
	color:#FFF;

}

.icons:hover{
	color: #63bcfb;
	text-decoration: none;
	
}

.fa {
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

.card-title{
	font-size:22px;
	font-weight: bold;
} 
.fa:hover{
	color: #D5D5D5;
	text-decoration: none;
	
}

.card .card-image{
    overflow: hidden;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.card .card-image img{
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.card{
    font-family: 'Roboto', sans-serif; 
    margin-top: 10px;
    position: relative;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 4 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card .card-content {
    padding: 10px;    
}

.card .card-content .card-title .card-reveal {
    font-size: 24px;
    font-weight: 200;    
}

.card .card-action{
    padding: 20px;
    border-top: 1px solid rgba(160, 160, 160, 0.2);
}
.card .card-action a{
    font-size: 15px;
    color: white;
    text-transform:uppercase;
    margin-right: 20px;    
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
.card .card-action a:hover{    
    color:#ffd8a6;
    text-decoration:none;
}

.card .card-reveal{    
    padding: 20px;
    position: absolute;
    background-color: #FFF;
    width: 100%;
    overflow-y: auto;
    left:0;
    bottom:0;
    height: 100%;
    z-index: 1;
    display: none;    
}

.card .card-reveal p{
    color: rgba(0, 0, 0, 0.71);
    margin:20px ;
}

.btn-custom{
    background-color: transparent;
    font-size:18px;
}

:root {
    --mainColor: white;
  }
  
  body {
    align-items: center;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    height: 100vh;
    justify-content: center;
  }
  
  /* a {
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
    color: var(--mainColor);
    text-decoration: none;
  }
  
  a:hover {

  text-shadow: 0px 0px 0 white,1px 1px 0 white,2px 2px white,3px 3px 0 ,4px 4px 0 white,5px 5px 0 rgb(161,117,50),6px 6px 0 rgb(144,103,39),7px 7px 0 rgb(130,91,31),8px 8px 0 
  /* rgb(120,83,25),9px 9px 0 rgb(108,73,20),10px 10px 0 rgb(93,63,13),11px 11px 0 rgb(60,54,12),12px 12px 0 */
  /* rgb(63,41,8),13px 13px 0 */
  /* }
   */

   .hi:hover{
    background-image: url('https://tenor.com/view/waving-wave-hand-emoji-gif-10897308');
   }

   .text {
    position: absolute;
    width: 450px;
    left: 50%;
    margin-left: -225px;
    height: 40px;
    top: 50%;
    margin-top: -20px;
  }
  
  .word {
    display: inline-block;
    vertical-align: top;
    margin: 0;
  }
  
  .word {
    position: absolute;
    width: 100%;
    margin-left: -180px;
    opacity: 0;
  }
  
  .letter {
    display: inline-block;
    position: relative;
    float: left;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
  }
  
  .letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  
  .letter.behind {
    transform: rotateX(-90deg);
  }
  
  .letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .wisteria {
    color: #8e44ad;
  }
  
  .belize {
    color: #2980b9;
  }
  
  .pomegranate {
    color: #c0392b;
  }
  
  /* .green {
    color: #16a085;
  }
  
  .midnight {
    color: #2c3e50;
  } */
@media only screen and (max-device-width: 1070px) {
    .list-group-item{
        float: left !important;
    }
}

/* @media only screen and (max-device-width: 2607px) {
   #home{
      padding: 26% 0;
   }
}

@media only screen and (max-device-width: 2031px) {
    #home{
       padding: 30% 0;
    }
 }

 @media only screen and (max-device-width: 1327px) {
    #home{
       padding: 35% 0;
    }
 }

 @media only screen and (max-device-width: 1134px) {
    #home{
       padding: 40% 0;
    }
 }

 @media only screen and (max-device-width: 991px) {
   .navbar{
        height : 100px !important;
        margin-top: -55px;
    } 

 } */

 @media only screen and (max-device-width: 770px) {
    /* #home{
       padding: 55% 0;
    } */

    .navbar-nav > li > a {
        /* (100px - line-height of 27px) / 2 = 26.5px */
        padding-top: 36.5px;
        padding-bottom: 36.5px;
        line-height: 37px;
      }
 }

 @media only screen and (max-device-width: 767px) {
   .heading, .lead{
       margin-left:8% !important;
      
   }

 }

 /* @media only screen and (max-device-width: 685px) {
    #home{
       padding: 90% 0;
    }
 } */

 @media only screen and (max-device-width: 320px) {
    #home, .navbar, .aboutus, #contact{
       width:117%;
    } 
 }
/* 
 @media only screen and (max-device-width: 685px) {
    #home, .navbar, .aboutus,.projects, #contact{
       width:117%;
    } 
 }*/

